.bodyHome{
    background-image:url(/background.jpg);
}

.bodyGoals{
    background-image:url(/background2.jpg);
}

p{
    color:rgb(226, 195, 19)
}

a{
    color:rgb(221, 218, 224);
    align-content: center;
    display:block;
    text-align: center;
}

.welcome{
    text-align: center;
    font-size: 18pt;
}

.welcomeTitle{
    text-align: center;
    font-size: 28pt;
}
